dagshub                
dvc  
matplotlib   
matplotlib-inline       
numpy 
pandas  
PyYAML    
scikit-image             
scikit-learn      
seaborn                   
tqdm                      
xgboost                  
